<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Calculator Page</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/calculator.js"></script>

  </head>
  <body>

    <!--

    <h1>Welcome to the Secure Calculator</h1>
    <h2>Protected by Username and Password</h2>

    <form action="/calculate" method="post">
      <label for="">Number 1</label>
      <input type="text" name="number_1">
      <br>
      <label for="">Number 2</label>
      <input type="text" name="number_2">
      <br>

    <select class="form-control" name="operation" id="operation">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="/">/</option>
      <option value="*">*</option>
    </select>
    <br>

    <input type="submit" value="submit">

    <hr>

    //-->

    <h2>JavaScript Calculator</h2>
    <form id="calcForm">
      <label for="">Number 1</label>
      <input type="number" name="number_1">
      <br>
      <label for="">Number 2</label>
      <input type="number" name="number_2">
      <br>

    <select class="form-control" name="operation" id="operation">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="/">/</option>
      <option value="*">*</option>
    </select>
    <br>

    <label for="">=</label>
    <label id="resultInput"></label>

    <input type="submit" value="submit">
    </form>
  </body>
</html>
